<div class="nexora-shell" [class.nexora-shell--feed]="mode === 'feed'" [class.nexora-shell--profile]="mode === 'profile'" [style.fontFamily]="fontFamily">
  <div class="nexora-shell-grid">
    <div class="nexora-shell-side hidden lg:block">
      <ng-content select="[shell-left]"></ng-content>
    </div>

    <div class="nexora-shell-content nexora-scrollbar-hidden">
      <ng-content select="[shell-main]"></ng-content>
    </div>

    @if (showRight) {
      <div class="nexora-shell-side hidden lg:block">
        <ng-content select="[shell-right]"></ng-content>
      </div>
    }
  </div>
</div>
